head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Page Title. Maximum length 60-70 characters
  meta(name="description", content="Page description. No longer than 155 characters.")

  // Twitter Card data
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="@publisher_handle")
  meta(name="twitter:title", content="Page Title")
  meta(name="twitter:description", content="Page description less than 200 characters")
  meta(name="twitter:creator", content="@author_handle")

  // Twitter Summary card images must be at least 120x120px
  meta(name="twitter:image", content="http://www.example.com/image.jpg")

  // Open Graph data
  meta(property="og:title", content="Title Here")
  meta(property="og:type", content="article")
  meta(property="og:url", content="http://www.example.com/")
  meta(property="og:image", content="http://example.com/image.jpg")
  meta(property="og:description", content="Description Here")
  meta(property="og:site_name", content="Site Name, i.e. Moz")
  meta(property="fb:admins", content="Facebook numeric ID")

  // Favicons
  link(rel="apple-touch-icon-precomposed", sizes="57x57", href="apple-touch-icon-57x57.png")
  link(rel="apple-touch-icon-precomposed", sizes="114x114", href="apple-touch-icon-114x114.png")
  link(rel="apple-touch-icon-precomposed", sizes="72x72", href="apple-touch-icon-72x72.png")
  link(rel="apple-touch-icon-precomposed", sizes="144x144", href="apple-touch-icon-144x144.png")
  link(rel="apple-touch-icon-precomposed", sizes="120x120", href="apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon-precomposed", sizes="152x152", href="apple-touch-icon-152x152.png")
  link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="favicon-16x16.png", sizes="16x16")
  meta(name="application-name", content="&nbsp;")
  meta(name="msapplication-TileColor", content="#000000")
  meta(name="msapplication-TileImage", content="mstile-144x144.png")

  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="css/styles.min.css")
  script(src="js/vendor/modernizr.js")
