<% if (overrideButton) { %>
.button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: $button-color;
  border: 1px solid $button-border-color;
  background-color: $button-background-color;
  text-decoration: none;
  border-radius: $button-border-radius;
  &:hover,
  &:focus {
    background-color: $button-hover-focus-background-color;
  }
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: 0 0 0 1px rgba($black, .15) inset, 0 0 6px rgba($black, .2) inset;
  }
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    border: none;
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
  }
  &-primary {
    // whatever you want
  }
  &-secondary {
    // whatever you want
  }
}

.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
<% } %>
