body,
html {
	height: 100%;
	background: #fff;
}
.wrapper {
  height: 100%;
}
// better default, can be changed to your convenience, comment the lines that you don't want
* {
  box-sizing:inherit;
  background-repeat: no-repeat;
  position: relative;
  &:before,
  &:after {
    box-sizing:inherit;
    background-repeat: no-repeat;
    position: relative;
  }
}
